@import "./src/variables";

#player {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  background-color: $main;
  border-bottom-right-radius: $main-border-radius;
  border-bottom-left-radius: $main-border-radius;

  .controls, .timestamp, .title, .utils {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .timestamp {
    align-items: center;
  }

  .control {
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
