@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: whitesmoke;
}

// prevent select
html {
  font-size: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.toast {
  flex-basis: auto;
}

.modal-content {
  background-color: rgba(150, 150, 150, 0.9);
}

.cut {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
}

.clickable {
  cursor: pointer;
}

input {
  padding: 0 10px;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  background-color: rgba(220, 220, 220, 0.8);
}

// scrollbar

@media (min-width: 320px) {
  ::-webkit-scrollbar {
    width: 20px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(23, 23, 23, 0.45);;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #565656;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #565656;
}