@import "./src/variables";

.item-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.item {
  display: flex;
  flex-direction: row;
  background-color: $main;
  padding: 5px 10px;
  border-radius: $main-border-radius;
  border: 2px groove $secondary;
  cursor: pointer;
  text-align: center;
  justify-content: center;

  &.active {
    background-color: rgba($main, 0.45)!important;
  }
}

.actions {
  padding: 10px;
  border: 1px solid $main;
  margin: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
  width: 99%;
  align-self: center;
  margin-top: -2px;
  justify-content: space-around;

  .item-icon-wrapper {
    display: flex;
    justify-content: center;
    padding: 4px 0;

    border-right: 2px solid $main;

    &:last-child {
      border-right: none;
    }
  }
}

.mobile-menu {
  display: flex;
  font-size: 20px;
  align-items: center;
}