@import "./src/variables";

#full {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-animation: slide-top .2s ease-out;
  -moz-animation: slide-top .2s ease-out;
}

#workspace {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 60px;
  bottom: 45px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 8px;
}