@import "./src/variables";

#music {
  background-color: $main;
  border-radius: $main-border-radius;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  border-top-right-radius: 0;
  -webkit-animation: slide-top .4s ease-out;
  -moz-animation: slide-top .4s ease-out;

  &.collapsed-mobile {
    display: none;
  }

  .header {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: rgba($main, 0.35);
    margin-bottom: 10px;
    padding: 10px 25px;

    .search-input {
      max-height: 24px;
    }

    .back, .title, .tools {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .tools {
      .tool-item {
        margin-left: 10px;
      }
    }
  }

  .list {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    scrollbar-width: thin;
    scrollbar-color: $main rgba($main, 0.1);
    -webkit-animation: slide-top .4s ease-out;
    -moz-animation: slide-top .4s ease-out;

    .item {
      background-color: rgba(black, 0.1);

      .item-inner-wrapper {
        padding: 5px;
        display: flex;
        justify-content: center;
      }

      .music-list-item-tools {
        visibility: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        div {
          margin-left: 7px;
          display: flex;
          justify-content: center;
          align-items: center;

        }
      }

      &.mobile, &:hover {
        .music-list-item-tools {
          visibility: visible;
        }
      }
    }
  }
}